In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
a=int(input("enter the bill:"))
b=int(input("enter the bill:"))
c=int(input("enter the bill:"))
d=int(input("enter the bill:"))
e=int(input("enter the bill:"))
f=int(input("enter the bill:"))
g=int(input("entrer the tip:"))
h=int(input("enter the tip:"))
i=int(input("enter the tip:"))
j=int(input("enter the tip:"))
k=int(input("enter the tip:"))
l=int(input("enter the tip:"))
df=pd.DataFrame({"bill":[a,b,c,d,e,f],
                 "tip":[g,h,i,j,k,l]})
df

enter the bill:100
enter the bill:200
enter the bill:300
enter the bill:400
enter the bill:500
enter the bill:600
entrer the tip:10
enter the tip:20
enter the tip:30
enter the tip:40
enter the tip:50
enter the tip:60

   bill  tip
0   100   10
1   200   20
2   300   30
3   400   40
4   500   50
5   600   60

In [ ]:
y=df["bill"]
x=df.drop(["bill"],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_train

   tip
5   60
2   30
4   50
3   40

In [ ]:
y_train

5    600
2    300
4    500
3    400
Name: bill, dtype: int64

In [ ]:
from sklearn import linear_model
#create instance of the model
lr=linear_model.LinearRegression()
#now fitting the instance created to the training data and creating the linear regression model and store into another variable
model=lr.fit(x_train,y_train)

In [ ]:
predictions=model.predict(x_test)
predictions

array([100., 200.])

In [ ]:
x_train

   tip
5   60
2   30
4   50
3   40