In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/winequality-red_(2).csv")
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
y=data["quality"]
x=data.drop(["quality"],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [ ]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train,y_train)

SVC()

In [ ]:
model.score(x_test,y_test)

0.5041666666666667

In [ ]:
y_pred=model.predict(x_test)
y_pred

array([6, 6, 6, 5, 6, 6, 5, 5, 6, 6, 6, 5, 5, 6, 6, 5, 6, 6, 6, 5, 6, 5,
       6, 5, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6, 5,
       5, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 5, 6, 5, 5,
       5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6,
       6, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 6, 6, 6,
       6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6,
       6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6,
       6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 6, 6, 5, 5, 5, 6, 6, 5, 5, 6, 6, 5,
       5, 6, 6, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 6, 5, 6,
       6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 5, 6, 6, 6, 6,
       5, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 5,
       6, 6, 5, 5, 6, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 6, 5, 5, 5, 5, 6,
       5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5,
       6, 6, 6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6,
       5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 6, 6, 6, 5, 6, 6, 6,
       6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 5, 5, 6, 6,
       5, 6, 5, 6, 6, 5, 6, 6, 5, 6, 6, 5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6,
       5, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 7, 6, 6, 6, 6, 5, 6, 6,
       6, 5, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 5, 5, 6, 6, 6, 5, 5, 6, 5,
       6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 5, 6, 5, 6, 6, 5, 5, 6, 6,
       5, 6, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 6, 5, 5, 6, 6, 5, 6, 5, 5, 5,
       6, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 5, 6, 6, 6, 5, 6])

In [ ]:
a=int(input("fixed acidity"))
b=int(input("volatile acidity"))
c=int(input("citric acid"))
d=int(input("residual sugar"))
e=int(input("chlorides"))
f=int(input("free sulfur dioxide"))
g=int(input("total sulfur dioxide"))
h=int(input("density"))
i=int(input("pH"))
j=int(input("sulphates"))
k=int(input("alcohol"))
f=pd.DataFrame({"fixed acidity":[a],
                "volatile acidity":[b],
                "citric acid":[c],
                "residual sugar":[d],
                "chlorides":[e],
                "free sulfur dioxide":[f],
                "total sulfur dioxide":[g],
                "density":[h],
                "pH":[i],
                "sulphates":[j],
                "alcohol":[k]})

fixed acidity7
volatile acidity8
citric acid12
residual sugar5
chlorides19
free sulfur dioxide5
total sulfur dioxide7
density0
pH13
sulphates4
alcohol93

In [ ]:
f

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7,8,12,5,19,5,7,0,13,4,93

In [ ]:
y_pred=model.predict(f)
y_pred

array([6])

In [ ]:
a=int(input("fixed acidity"))
b=int(input("volatile acidity"))
c=int(input("citric acid"))
d=int(input("residual sugar"))
e=int(input("chlorides"))
f=int(input("free sulfur dioxide"))
g=int(input("total sulfur dioxide"))
h=int(input("density"))
i=int(input("pH"))
j=int(input("sulphates"))
k=int(input("alcohol"))
f=pd.DataFrame({"fixed acidity":[a],
                "volatile acidity":[b],
                "citric acid":[c],
                "residual sugar":[d],
                "chlorides":[e],
                "free sulfur dioxide":[f],
                "total sulfur dioxide":[g],
                "density":[h],
                "pH":[i],
                "sulphates":[j],
                "alcohol":[k]})

fixed acidity23
volatile acidity25
citric acid1
residual sugar7
chlorides56
free sulfur dioxide12
total sulfur dioxide61
density1
pH0
sulphates7
alcohol58

In [ ]:
f

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,23,25,1,7,56,12,61,1,0,7,58

In [ ]:
y_pred=model.predict(f)
y_pred

array([6])

In [ ]:
type(f)

pandas.core.frame.DataFrame